﻿@using PromocodeFactory.BusinessLogic.Models.DTO.Request.PromoCodeManagement
@using System.Linq
@model IEnumerable<PromoCodeFactory.BusinessLogic.Models.DTO.Response.PromoCodeManagement.Preferences.PreferenceDtoResponse>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Предпочтения";
}

<h1>Предпочтения</h1>

@{
    var preferenceDto = new PreferenceDtoRequest();
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Add">
            <div class="form-group">
                <input asp-for="@preferenceDto.Id" class="form-control" hidden=""/>
            </div>

            <div class="form-group">
                <label asp-for="@preferenceDto.Name" class="control-label"></label>
                <input name="Name" class="form-control"/>
                <span asp-validation-for="@preferenceDto.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div class="col-md-10">
    <table class="table">
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Наименование</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var preference in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => preference.Id)
                </td>

                <td>
                    @Html.DisplayFor(x => preference.Name)
                </td>

                <td>
                    <button type="button" class="btn btn-info" asp-action="Update" asp-route-id="@preference.Id">Редактировать</button>
                </td>

                <td>
                    <form method="post">
                        <input type="submit" value="Удалить" class="btn btn-danger" asp-action="Delete" asp-route-id="@preference.Id" />
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
