﻿@using PromocodeFactory.BusinessLogic.Models.DTO.Request.PromoCodeManagement
@using System.Linq
@model PromoCodeFactory.BusinessLogic.Models.DTO.Response.PromoCodeManagement.Preferences.PreferenceDtoResponse

@{
    Layout = "_Layout";
    ViewData["Title"] = "Изменение наименования предпочтения";
}

<h1>Изменение наименования предпочтения</h1>

@{
    var preferenceDto = new PreferenceDtoRequest();
}

<form method="post">
    <input type="submit" class="btn btn-success" value="Сохранить">
    <input type="submit" class="btn btn-block" value="Назад">
</form>
